
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    --primarycolor: red; 
    --primaryfont: inter;

}
.container{
    width:calc( 100% - 330px );
    margin: auto;
}
.row{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header{
     
     padding: 21.84px 0;
   
} 


ul{ list-style-type: none;}
.list ul{ 
    display: flex;
    gap: 60px;
    list-style: none;
} 

a{
    text-decoration: none;
    font-size: 14px;
    font-family: var(--primaryfont);
    text-transform: capitalize;
   color: var(--primarycolor) ;
}
.icon ul{
    display: flex;
    gap: 24px;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
} 
.logo{
    flex-shrink: 0;
}
.icon{
     flex-shrink: 0;
}
.list{
     flex-shrink: 0;
}
.menu{
    display: none;
}
@media screen and (min-width: 0px) and (max-width: 500px){ 
    body{
        background-color: black;
    }
.container{
              width:calc( 100% - 40px );
                margin: auto;
    }
    .list, 
    .Search,
    .Avatar,
    .Heart{
        display: none;
    }
    .menu{ 
           display: block;
    }

}


    


.collection-section{
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    padding: 80px 0;
    font-family:inter;
   
}

.collection{
    width: calc((100% - (30px * 3) ) / 4 );
}
@media screen and (min-width: 0px) and (max-width: 500px){
    
    .collection{
     width: 100%;
   }
}
@media screen and (min-width: 501px) and (max-width: 900px){
.container{
             width: calc(100% - 150px );
            margin: auto;
    }
.collection{
    width: calc((100% - (30px) ) / 2 );
}
    .list, 
    .Search,
    .Avatar,
    .Heart{
        display: none;
    }
    .menu{ 
           display: block;
    }
}
@media screen and (min-width: 901px) and (max-width: 1100px){
.collection{
    width: calc((100% - (30px * 2) ) / 3 );
}
}
img{
    width: 100%;
}
h2{ 
    margin-top: 23px;
    text-underline-offset: 5px;
    text-decoration: var(--primarycolor);
    color: var(--primarycolor) ;
    font-family: var(--primaryfont); 
}